/********contains code for footer ****/

.footer {
    background: #f5f5f5;
}

.footer-element-one {
    max-width: 1276px;
    margin: 0 auto;
    padding: 64px 0;
    font-size: 15px;
    color: gray;
}


