.footer-element-one-container {
    flex-direction: column-reverse;
    width: unset;
    align-self: stretch;
}

.footer-element-one-left {
    width: 100%;
}

.footer-element-one-links {
    width: 100%;
    margin-left: 0;

}

.footer-element-two {
    margin: 0 3vw;
}