/**************footer for mobile  ***************/

.footer-element-one-container,
.footer-element-two {
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
}

.footer-element-one-links {
    flex-direction: column;
    order: -1;
    gap: 20px;
    margin: 0px;
}

.footer-element-one-left {
    margin: 0;
    max-width: 100%;

    h3 {

        font-size: 20px;
    }
}

.footer-element-one-links-col {
    margin-left: 0px;
}

.footer-element-two-nav {
    nav {
        flex-direction: column;
    }
}

.footer-element-two {
    gap: 20px;
}

.footer-element-one,
.footer-element-two {
    padding: 18px 20px;
    margin: 0;
}

.footer-element-two-logo {
    height: 40px;
    gap: 10px;
    // width: 80vw;
    
    a {
        width: 50%;

        img {
            width: 134px;
            height: 100%;
            border: 1px solid #e0e0e0;
            border-radius: 7px;
            background-color: white;
        }
    }

}