* {
    box-sizing: border-box;
    // width: 100%;
    margin: 0;
    padding: 0;
    // overflow-y: scroll;
  }

  

body {
  overflow-x: hidden;
  // width: 100vw;
}

button {
  outline: none;
}

.body-container{
  overflow-x: hidden;
  width: 100%;
}
