/*******************Contains all section one style including nav*******
********************
********************
********************
********************
********************/

.hamburger-menu,
.overlay-closer {
    display: none;
}

.section-header-one {
    // height: 880px;
    padding: 10px;
    background: $section-one-bg-color;
    box-sizing: border-box;

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(221, 213, 213, 0.622);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(221, 213, 213, 0.622);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(221, 213, 213, 0.622);
      }
}

/**** copy this to style.scss for general ****/
.flex-container {
    display: flex;
    gap: 40px;
}

.nav-box {
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;


    button {
        font-size: 12px;
        line-height: 21px;
        height: 40px;
        font-weight: 600;
        border-radius: 4px;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        text-align: center;
        font-family: sfprotext;
    }
}

// .hamburger-menu {
//     // border: none;
//     background-color: blue;
// }


.left-box {
    align-items: center;
    gap: 28px;
    position: relative;

    button {
        border: none;
        background: none;
        // color: #ffffff;
        color: #fff;
    }

    svg {
        margin-left: 5px;
        cursor: pointer;
        
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

.overlay-drop {
    display: flex;
    gap: 28px;
    // justify-content: flex-start;
}

// .writers-dropdown {
//     display: none;
// }
// .readers-dropdown {
//     display: none;
// }

.dropdown-menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 228px;
    background-color: white;
    border-radius: 8px;
    transition: opacity 0.5s;

    li {
        cursor: pointer;
        margin: 0px 8px;
        border-radius: 4px;
    }

    li:hover {
        background-color: rgba(192, 192, 192, 0.2);
    }



    a {
        text-decoration: none;
        color: #3a261c;
        font-size: 16px;
        font-weight: 400;
        // display: block;
        
    }
}


// .left-nav-buttons:focus + svg + ul{
//     // background-color: blue;
//     visibility: visible;
//     display: block;
//     opacity: 1;
// }


.dropdown-menu.active {
    visibility: visible;
    display: block;
    opacity: 1;
}

.underline {
    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 14px 0px;
    margin: 0px 25px;
    white-space: nowrap;
}

.dropdown-wrapper {
    li:last-child {
        span {
            border-bottom: none;
        }
        // background-color: blue;
    }
}



.drop-item:first-child {
    margin-top: 8px;
}

.drop-item:last-child {
    margin-bottom: 8px;
}


// .resource-button:hover .resource-dropdown {
//     // display: block;
//     // visibility: visible;
//     background-color: black;
// }

.homepage-nav-logo
.nav-logo-icon{
    height: 30px;
    width: auto;
}


.right-box {
    // align-items: center;
    gap: 12px;

    a {
        text-decoration: none;
    }

    .navbar-search {
        position: relative;
    }

    button {
        padding: 10px 20px;
        display: flex;
        align-items: center;
    }

    .nav-button-one {
        background: $general-color;
        border: none;
        padding: 0 14px;
    }

    .nav-button-two {
        background: transparent;
    }

    input {
        position: relative;
        // padding: 10px 0px 10px 0px;
        height: 40px;
        border-radius: 4px;
        text-indent: 32px;
        font-size: 14px;
        box-sizing: border-box;
        line-height: 20px;
        min-width: 255px;
        appearance: none;
        outline: none;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;

    }

    svg {
        position: absolute;
        left: 11px;
        top: 11px;
        height: 16px;
        width: 16px;

    }
}


.landing-page-hero {
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1070px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.landing-page-hero-text {
    gap: 24px;
    flex-direction: column;
    color: #fff;
    flex-basis: 100%;
    flex-shrink: 1;

    h1 {
        color: #fff;
        text-align: start;
    }

    p {
        font-size: 15.5px;
        letter-spacing: -0.45px;
        line-height: 23px;
        font-family: 'SF Pro Text','SF Compact Display',
            -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,
            Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji',
            'Segoe UI Symbol';
    }

    .landing-page-hero-buttons {
        gap: 12px;

        span {
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
            width: 100%;
            // background-color: blue;
            // padding: 0 20px;
        }

        .hero-btn-two:hover {
            background-color: rgba(0,0,0,0.2);
        }

        
        
        
    }

    .hero-btn-two {
        background: transparent;
        border: 1px solid #fff;
    }
    

}

.landing-page-hero-image {
    flex-basis: 100%;
    flex-shrink: 1;
    // background-color: blue;
    max-width: 588px;
    min-width: 200px;

}

