.section-header-one {

    padding: 0 20px;
}




.overlay-drop{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw);
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 700;
    transition: transform 0.4s;
    padding-top: 35px;
}

.drop-container {
    position: relative;
    top: 3%;
    left: 10;
    // width: 100%;
    // text-align: center;
    // text-align: left;
    // margin-top: 30px;
}

.drop-container:nth-child(2){
    order: 1;
}

.drop-container:last-child {
    order: -1;
}

.drop-container:first-child{
    order: 4;
}



.overlay-drop.active {
    transform: translateX(0vw);
    
}

.dropdown-menu {
    width: 100%;
    position: static;
    opacity: 1;
    visibility: visible;
    display: block;
    border-radius: 0px;

    li {
        cursor: pointer;
        margin: 0px 0px;
        border-radius: 0px;
    }

    li:hover {
        background-color: transparent;
    }

    a {
        font-size: 16px;
        line-height: 55px;
        font-family: 'SF Pro Display',
            'Inter','Segoe UI',Roboto,Helvetica,Arial,
            sans-serif,'Apple Color Emoji','Segoe UI Emoji'
            ,'Segoe UI Symbol';
    }
}

.underline {
    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 0px 0px;
    margin: 0px 0px;
    white-space: nowrap;
}


.nav-box {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;


    button {
        font-size: 12px;
        line-height: 21px;
        height: 30px;
        font-weight: 600;
        border-radius: 4px;
        // border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        text-align: center;
    }
}

.overlay-closer {
    position: absolute;
    top: 30px;
    right: 20px;
}

.drop-container {
    padding: 26px 20px 6px;
    border-bottom: 6px solid #f8f8f8;
}

.left-box {
    gap: 12px;

    button {
        color: black;
        // margin-left: 25px;
        font-size: 17px;
        letter-spacing: -0.012em;
        font-family: 'SF Pro Display',
            'Inter','Segoe UI',Roboto,Helvetica,Arial,
            sans-serif,'Apple Color Emoji','Segoe UI Emoji'
            ,'Segoe UI Symbol';
    }
    
}

.hamburger-menu {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-svg {
    width: 19px;
}


.right-box {
    button {
        padding: 0px 10px;
        display: flex;
        align-items: center;
    }
    
    .nav-button-one {
        background: $general-color;
        border: none;
        padding: 0 14px;
    }

   form {
    display: none;
   } 
}


.landing-page-hero {
    flex-direction: column;
    padding-top: 100px;
}

.landing-page-hero-buttons {
    flex-direction: column;

    div {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

.landing-page-hero-image {
    // flex-basis: 50%;
    width: 68%;
}






