/******* contains code for section 6 ****/

.section-documentation {
    background: #eeeeee;
}

.section-documentation-content {
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.section-documentation-content-row-2 {
    flex-direction: column;
    gap: 80px;

}

.section-documentation-content-row-2-stack {
    flex-direction: row;
    gap: 20px;

    h2 {
        font-family: Cahuenga, serif;
        font-size: 34px;
        line-height: 39.68px;
        color: #404040;
        font-weight: 550;
        padding-right: 80px;
        flex-basis: 50%;
    }

    p {
        flex-basis: 50%;
        font-size: 17px;
        letter-spacing: -0.45px;
        line-height: 23px;
        color: #404040;
        font-family: 'SF Pro Text','SF Compact Display',
            -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,
            Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji',
            'Segoe UI Symbol';
    }

    a {
        color: $general-color;
        text-decoration: none;
    }
}

