$section-one-bg-color: #006F5c;
$general-color: #FF6719;
$button-start-writing-bg-color: #FF6719;
$button-start-writing-border-radius: 4px;
$button-start-writing-font-size: 14px;
$button-start-writing-line-height: 21px;
$button-start-writing-height: 40px;
$section1-height: 880px;
$logo-max-width: 588px;
$logo-min-width: 200px;
$section1-subscribers-font-family: cahurnga, serif;
$section1-subscribers-font-size: 55px;
$section1-subscribers-line-height: 68.2px;
$nav-text-font-weight: 500;
$nav-text-color: #FFF;
$substack-text-font-size: 17px;
$substack-text-line-height: 23px;
$substack-text-letter-spacing: -0.45px;
$button-create-your-substack-height: 52px;
$button-create-your-substack-border-radius: 6px;
$button-create-your-substack-font-size: 17px;
$gap: 32px;
$nav-dropdown-width: 228px;
$nav-dropdown-border-radius: 8px;
$nav-dropdown-box-sizing: border-box;





